
<div class="position">
     <carousel     
    [arrows]="false"
     [autoplay]="true"
    [autoplayInterval]="2000"
    [transitionDuration]="2000"
     [loop]="true">>
            <div class="carousel-cell">
                <img src="../../../../assets/images/bannerSample.jpg">
            </div>    
            <div class="carousel-cell">
                <img src="../../../../assets/images/bannerSample.jpg">
            </div>    
            <div class="carousel-cell">
                <img src="../../../../assets/images/bannerSample.jpg">
            </div>    
            <div class="carousel-cell">
                <img src="../../../../assets/images/bannerSample.jpg">
            </div>    
            <div class="carousel-cell">
                <img src="../../../../assets/images/bannerSample.jpg">
            </div>    
    </carousel>
</div>

<p class="styleTitle">Night Clubs</p>
<br>
<br>

<div *ngFor="let dataDiscos of data">
    <app-days [data]="dataDiscos"></app-days>
</div>






