<div >

    <div class="row margin">
        <div class="border_style col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="border_style col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <img class="image" src={{data.url}}>

        </div>
        <div class="border_style col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>


    <div class="row">
        <div class="border_style col-xs-1 col-sm-1 col-md-1 col-lg-1">
              
        </div>
        <div class="border_style col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <button class="button_delete margin">Delete</button>

        </div>
        <div class="border_style col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
 <br>


</div>
