.center{
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  .margin{
      margin: 70px;
  }

  .color{
    color: white;
    font-size: 30px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }