<div>


    <div *ngIf='giveaways' class="center">

        <input class="style" placeholder=" Free Giveaways" type="text" [formControl]='title'>
    </div>

    <div class="row">
        <div class="border_style col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="border_style col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <img *ngIf="uploadImage" class="image" src="../../../../assets/images/uploadImage.png">
            <img *ngIf="url$ | async as image" class=" image" [src]="image">

        </div>
        <div class="border_style col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
<div class="center">
    
        
        <input *ngIf="banner" (change)="upBannerHomeFile($event)" type="file">
        <button *ngIf="banner" (click)='deleteBannerHome()' class="button_style">Delete</button>
    
    
         <input *ngIf="giveaways" (change)="upGiveawaysFile($event)" type="file">
         <button *ngIf="giveaways" (click)='deleteGiveaways()' class="button_style">Delete</button>

</div>


</div>
