.center_image{
    width: 100%;
    height: auto;
}

.styleSubtitle{
    color:#FFFFFF;
    margin: auto;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  .style_description{
      align-items: center;
      text-align: center;
  }