.title{
    text-align: center;
    color: #00FFF0;
    font-size: xx-large;
    margin: 20px;
    font-weight: bold;
}

.divider{
    border-top: 2px solid #00FFF0;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button_style{
    width: 300px; 
    height: 80px; 
    border: 3px solid rgb(255, 255, 255);
    background: #0000004d;
    border-radius: 40px;
    font-size: xx-large;
    color:#00FFF0;
    margin: 10px;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;  
  }