.title{
    text-align: center;
    color: #00FFF0;
    font-size: xx-large;
    margin: 20px;
    font-weight: bold;
}

.divider{
    border-top: 2px solid #00FFF0;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }