
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <p class="text_day_style">{{data.day}}</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2
        col-lg-2">
            <button (click)="one()" class="button_style">
                <img *ngIf="!discoOne" class="image_style" src="../../../../assets/images/flecha.png">
                <img *ngIf="discoOne"  class="image_style" src="../../../../assets/images/flechaUp.png">
            </button>
        </div>

    </div>

    <app-disco [data]="data" *ngIf = "discoOne"></app-disco>

<hr class="divider">
