.border_style{
    border-bottom: 1px solid;
   border-color: rgb(32, 246, 3);       
}

.button_style{
    background: rgba(255, 99, 71, 0);
}

.day_style{
    justify-items: left;
    justify-self: left;
    justify-content: left;
    text-align: left;
    position: absolute;
    left: 5px;
}