.button_style{
    width: 150px; 
    height: 40px; 
    border: 3px solid rgb(255, 255, 255);
    background: #0000004d;
    border-radius: 40px;
    font-size: small;
    color:#00FFF0;
    margin: 10px;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;  
  }

