.services_style{
    align-items: center;
    text-align: center;
    font-size: large;
}
.price_style{
    align-items: center;
    text-align: center;
    font-size: large;
    color: #3ffb00;
    font-weight: bold;
}