<p class="time">12/15/21</p>
  
 <img src="../../../../assets/images/pictureAlmbun1.jpg" class="image_principal">
    
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 "> 
        <img src="../../../../assets/images/pictureAlmbun1.jpg" class="image_mini">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 container background " > 
        <img src="../../../../assets/images/pictureAlmbun1.jpg" class="image_mini transparencia">        

    </div>
</div>

<app-paginator></app-paginator>
