
<!-- <br>
<br>
<br>
<br>
<br> -->
<!-- <h1 class="color center">Web site under production</h1> -->

<app-header></app-header>


<img src="../../../../assets/images/logo.webp" alt="Nature" class="responsive">


<!-- DJ LIVE-->

<!-- <h1 class="styleTitle"> Night Clubs</h1> -->
<div >
    <video controls width="100%" height="auto" #myVideo poster="../../../../assets/images/missing.jpg" preload="none">
        <source src="../../../../assets/video/Photobooth_Service.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video> 
</div>




<!--Free aways-->
<div class="background">
   <div class="center">       
       <button (click)="freeAwaysFuntion()" class="center button margin">Free Giveaways</button>
   </div>
</div>
<app-form-data *ngIf = "freeAways"></app-form-data>



<img src="../../../../assets/images/albumSample.jpg" alt="Nature" class="responsive">

<div class="center">       
    <button (click)="myClick()" class="center buttonWeekly margin" routerLink="/weeklyPictures">Weekly Pictures</button>
</div>

<hr class="divider">

<h1 class="styleTitle"> Night Clubs</h1>
<img src="../../../../assets/images/nightClubSample.jpg" alt="Nature" class="responsive">
<div class="center">

    <button (click)="myClick()" class="center buttonInfo margin" routerLink= "/nightClubs">Info</button>
</div>

<hr class="divider">

<div class=" center margin">   
        <button (click)="openEvents()" class="center button_arrow "> Social Events </button>        
</div>

<!--SOCIAL EVENTS-->

<div *ngIf="dataEvents">
    
    <div class="center">
        <img src="../../../../assets/images/flecha.png">   
    </div>
    
    
    
    <!--PACKAGES-->
    
    <div *ngFor ="let data of dataPackage">
        
        <app-package [data]="data"></app-package>
    </div>
    
    <div class="center">
        
        <button (click)="extrasFuntion()" class="center buttonInfo margin">Extras</button>
    </div>
    
    <!--EXTRAS-->
    <div *ngIf="extras">
        <div *ngFor = "let data of dataExtras">
            
            <app-extras [data]="data"></app-extras>
        </div>
    </div>
    
</div>

<hr class="divider"> 

<!--DJ'S SERVICES-->

<div class=" center margin">   
    <button (click)="openDJ()" class="center button_arrow "> DJ'S Services </button>        
</div>

<div *ngIf="dataDJ">

    
    <div class="center">
        <img src="../../../../assets/images/flecha.png">   
    </div>
    
    <h1 class="styleTitle"> </h1>
    
    
    <mat-grid-list cols ="3" rowHeight= "3:4">
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        
    </mat-grid-list>
    
    
    <mat-grid-list cols= "1" rowHeight="1:1">
        <mat-grid-tile>
            
            <img src="../../../../assets/images/DJ_Sample2.png" alt="Nature">
        </mat-grid-tile>
    </mat-grid-list>
    
    <h2 class="styleSubtitle">DJ Name</h2> 
    
    <p>Lorem Ipsum is simply dummy text w
        of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer 
        took a galley of type and scrambled it to make a type 
        specimen book. It has survived</p>
        
        <div >
            <video controls width="100%" height="auto" #myVideo poster="../../../../assets/images/missing.jpg" preload="none">
                <source src="../../../../assets/video/Photobooth_Service.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video> 
        </div>
        
        
        <!--PHOTHOGRAPHY-->
        
        <h1 class="styleTitle"> Phothography</h1>
        
        
    <mat-grid-list cols ="3" rowHeight= "3:4">
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>

    </mat-grid-list>

    
    <mat-grid-list cols= "1" rowHeight="1:1">
        <mat-grid-tile>
          
            <img src="../../../../assets/images/DJ_Sample2.png" alt="Nature">
        </mat-grid-tile>
    </mat-grid-list>
    
    <h2 class="styleSubtitle"> Photographer name</h2> 
    
    <p>Lorem Ipsum is simply dummy text 
        of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer 
        took a galley of type and scrambled it to make a type 
        specimen book. It has survived</p>
        
        <button class="buttonExtras">Galery</button>
        
        <!-- VIDEO-->
        
        <h1 class="styleTitle"> Video</h1>
        
        
        <mat-grid-list cols ="3" rowHeight= "3:4">
            <mat-grid-tile>
                <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
            </mat-grid-tile>
            <mat-grid-tile>
                <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
            </mat-grid-tile>
            <mat-grid-tile>
                <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
            </mat-grid-tile>
            
    </mat-grid-list>
    
    
    <mat-grid-list cols= "1" rowHeight="1:1">
        <mat-grid-tile>
            
            <img src="../../../../assets/images/DJ_Sample2.png" alt="Nature">
        </mat-grid-tile>
    </mat-grid-list>
    
    <h2 class="styleSubtitle"> Name</h2> 
    
    <p>Lorem Ipsum is simply dummy text 
        of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer 
        took a galley of type and scrambled it to make a type 
        specimen book. It has survived</p>
        
        <button class="buttonExtras">Galery</button>
    </div>

    <div class="center">
        <button routerLink= "/login">Login</button>
    </div>

    <app-footer></app-footer>