
<!-- <br>
<br>
<br>
<br>
<br> -->
<!-- <h1 class="color center">Web site under production</h1> -->
<img src="../../../../assets/images/logo.webp" alt="Nature" class="responsive">
<div class="background">
   <div class="center">       
       <button (click)="myClick()" class="center button margin">Free Giveaways</button>
   </div>
</div>
<app-form-data></app-form-data>

<div class="center">
    <button class="buttonSubmit"> Submit</button>
</div>

<img src="../../../../assets/images/albumSample.jpg" alt="Nature" class="responsive">

<div class="center">       
    <button (click)="myClick()" class="center buttonWeekly margin">Weekly Pictures</button>
</div>

<hr class="divider">

<h1 class="styleTitle"> Night Clubs</h1>
<img src="../../../../assets/images/nightClubSample.jpg" alt="Nature" class="responsive">
<div class="center">

    <button (click)="myClick()" class="center buttonInfo margin">Info</button>
</div>

<hr class="divider">
<h1 class="styleTitle"> Social Event</h1>


<app-package></app-package>






<!--Dancing on the clows-->

<mat-card class="cardColor">


<h1 class="styleSubtitle"> Dancing on the clows</h1>
<div >
    <video controls width="100%" height="auto" #myVideo poster="../../../../assets/images/preHolderOne.jpg" preload="none">
        <source src="../../../../assets/video/WALTZ_IN_THE_CLOUDS.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>

      <p>Lorem Ipsum is simply dummy text 
          of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy 
          text ever since the 1500s, when an unknown printer 
          took a galley of type and scrambled it to make a type 
          specimen book. It has survived</p>

    <button class="buttonExtras">Extras</button>

    <h2 class="styleSubtitle">Uplighting / Iluminacion ambiental</h2>
    <img src="../../../../assets/images/uplighting.jpg" alt="Nature" class="responsive">

    <p>12 Wireless uplighting/ 12 Luces Ambientales inalambricas</p>
    <p class="priceExtras">$350</p>

    <h2 class="styleSubtitle">Waltz on the clouds / Valz sobre las nubes</h2>
    <img src="../../../../assets/images/Waltz.jpg" alt="Nature" class="responsive">
    <p>Dry ice effect during the main dance/ Efecto de nuves con hielo seco</p>
    <p class="priceExtras">$350</p>


    <h2 class="styleSubtitle">Indoor pyrotechnics / Pirotecnia fria</h2>
    <img src="../../../../assets/images/pyrotechnics.jpg" alt="Nature" class="responsive">
    <p>4 Indoor pyrotechnics / 4 Detonadores de pirotecnia fria</p>
    <p class="priceExtras">$350</p>


      
</div>
</mat-card>
<!--Led Robots-->
<br>
<mat-card class="cardColor">
<h1 class="styleSubtitle"> Dancing led robots</h1>
<div >
    <video controls width="100%" height="auto" #myVideo poster="../../../../assets/images/robotPreholder.jpg" preload="none">
        <source src="../../../../assets/video/Led_Robots_Finished.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>

      <p>Lorem Ipsum is simply dummy text 
          of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy 
          text ever since the 1500s, when an unknown printer 
          took a galley of type and scrambled it to make a type 
          specimen book. It has survived</p>

    <button class="buttonExtras">Extras</button>

    <h2 class="styleSubtitle">2 Led giant robots / 2 robots led gigantes</h2>
    <img src="../../../../assets/images/missing.jpg" alt="Nature" class="responsive">

    <p>30 minute service used as the costumer desires / 
        30 minutos de servicio al gusto del cliente
    </p>
    <p class="priceExtras">$600</p>

    <h2 class="styleSubtitle">Giant LED screen / Pantalla LED Gigante</h2>
    <img src="../../../../assets/images/missing.jpg" alt="Nature" class="responsive">
    <p>12 Pannels of LED Screen display / 12 Paneles de pantalla LED</p>
    <p class="priceExtras">$1000</p>


    <h2 class="styleSubtitle">4 Columns with robotic Lights / 4 Columnas iluminadas</h2>
    <img src="../../../../assets/images/missing.jpg" alt="Nature" class="responsive">
    <p> Lighting enginner is included / Ingeniero de luces incluido</p>
    <p class="priceExtras">$600</p>      
</div>
</mat-card>
<br>
<!--Pyrotechnics and waltz in clouds-->

<mat-card class="cardColor">
<h1 class="styleSubtitle"> Pirotechnics & Waltz in Clouds</h1>
<div >
    <video controls width="100%" height="auto" #myVideo poster="../../../../assets/images/missing.jpg" preload="none">
        <source src="../../../../assets/video/Waltz_On_CLouds_Finished.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>

      <p>Lorem Ipsum is simply dummy text 
          of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy 
          text ever since the 1500s, when an unknown printer 
          took a galley of type and scrambled it to make a type 
          specimen book. It has survived</p>

    <p class="priceExtras">$500</p>      
</div>
</mat-card>
<br>
<!--Pyrotechnics-->
<mat-card class="cardColor">
<h1 class="styleSubtitle"> Pirotechnics</h1>
<div >
    <video controls width="100%" height="auto" #myVideo poster="../../../../assets/images/missing.jpg" preload="none">
        <source src="../../../../assets/video/Pyrotechnics_Video.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>

      <p>Lorem Ipsum is simply dummy text 
          of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy 
          text ever since the 1500s, when an unknown printer 
          took a galley of type and scrambled it to make a type 
          specimen book. It has survived</p>

    <p class="priceExtras">$350</p>      
</div>
</mat-card>
<br>



<!--PothoBook-->
<mat-card class="cardColor">
<h1 class="styleSubtitle"> Photo Book</h1>
<div >
    <video controls width="100%" height="auto" #myVideo poster="../../../../assets/images/missing.jpg" preload="none">
        <source src="../../../../assets/video/Photobooth_Service.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>

      <p>Lorem Ipsum is simply dummy text 
          of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy 
          text ever since the 1500s, when an unknown printer 
          took a galley of type and scrambled it to make a type 
          specimen book. It has survived</p>

    <p class="priceExtras">$700</p>      
</div>
</mat-card>

<!-- DJ LIVE-->

<h1 class="styleTitle"> Night Clubs</h1>
<div >
    <video controls width="100%" height="auto" #myVideo poster="../../../../assets/images/missing.jpg" preload="none">
        <source src="../../../../assets/video/Photobooth_Service.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video> 
</div>

<!--DJ'S SERVICES-->

<h1 class="styleTitle"> DJ'S Services</h1>


    <mat-grid-list cols ="3" rowHeight= "3:4">
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>

    </mat-grid-list>

   
    <mat-grid-list cols= "1" rowHeight="1:1">
        <mat-grid-tile>
          
            <img src="../../../../assets/images/DJ_Sample2.png" alt="Nature">
        </mat-grid-tile>
    </mat-grid-list>

    <h2 class="styleSubtitle">DJ Name</h2> 

    <p>Lorem Ipsum is simply dummy text w
        of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer 
        took a galley of type and scrambled it to make a type 
        specimen book. It has survived</p>

        <div >
            <video controls width="100%" height="auto" #myVideo poster="../../../../assets/images/missing.jpg" preload="none">
                <source src="../../../../assets/video/Photobooth_Service.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video> 
        </div>
    

<!--PHOTHOGRAPHY-->

<h1 class="styleTitle"> Phothography</h1>


    <mat-grid-list cols ="3" rowHeight= "3:4">
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>

    </mat-grid-list>

   
    <mat-grid-list cols= "1" rowHeight="1:1">
        <mat-grid-tile>
          
            <img src="../../../../assets/images/DJ_Sample2.png" alt="Nature">
        </mat-grid-tile>
    </mat-grid-list>

    <h2 class="styleSubtitle"> Photographer name</h2> 

    <p>Lorem Ipsum is simply dummy text 
        of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer 
        took a galley of type and scrambled it to make a type 
        specimen book. It has survived</p>

        <button class="buttonExtras">Galery</button>

<!-- VIDEO-->

<h1 class="styleTitle"> Video</h1>


    <mat-grid-list cols ="3" rowHeight= "3:4">
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/DJ_Sample1.png" alt="Nature" class="responsive zoom">
        </mat-grid-tile>

    </mat-grid-list>

   
    <mat-grid-list cols= "1" rowHeight="1:1">
        <mat-grid-tile>
          
            <img src="../../../../assets/images/DJ_Sample2.png" alt="Nature">
        </mat-grid-tile>
    </mat-grid-list>

    <h2 class="styleSubtitle"> Name</h2> 

    <p>Lorem Ipsum is simply dummy text 
        of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer 
        took a galley of type and scrambled it to make a type 
        specimen book. It has survived</p>

        <button class="buttonExtras">Galery</button>