
<div>
    <h1 class="mat-display-2 center" >Free Tikets</h1>
    <img src="../../../../assets/images/bannerSample.jpg" class="responsive">

    <p class="center">
      <input class="style" placeholder="    *Name" type="text">
      </p>
    <p class="center">
      <input class="style" placeholder="    *Email" type="email">
      </p>
    <p class="center">
      <input class="style" placeholder="    *Phone" type="tel">
      </p>
</div>

<div class="center centerSubmit">
  <button class="buttonSubmit"> Submit</button>
</div>