
<div>

  <!-- <div *ngFor="let res of title">
    <h1 class="mat-display-2 center" >{{res.event}}</h1>
  </div> -->

  <h1 class="mat-display-2 center" >{{title_string}}</h1>
    
    <div >
      <carousel
        [cellWidth]="'100%'"
        [cellsToShow]="1"
        [arrows]="true"
        [autoplay]="false"
        [autoplayInterval]="1000"
        [transitionDuration]="500"
        [loop]="true"        
      >
        <div class="carousel-cell" *ngFor="let dataBanner of data">
          <img  [src]="dataBanner.url">
        </div>
      </carousel>
    </div>
    <br>

    <div *ngIf="!endData">

      
      <p class="center">
        <input class="style" placeholder="    *Name" type="text" [formControl]="nameFiel">
      </p>
      <p class="center">
        <input class="style" placeholder="    *Email" type="email" [formControl]="emailFiel">
      </p>
      <p class="center">
        <input class="style" placeholder="    *Phone" type="tel" [formControl]="phoneFiel">
      </p>
    </div>
    
    <div *ngIf="!endData" class="center centerSubmit">
      <button (click)="sendData()" class="buttonSubmit"> Submit</button>
    </div>
  
    <div *ngIf="endData">
      <h1 class="mat-display-2 center" >Thank you!</h1>
    </div>


  </div>


