<div>

    <div class="row">
        <div class="border_style col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="border_style col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <img class="image" src="../../../../assets/images/uploadImage.png">

        </div>
        <div class="border_style col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
<div class="center">
    <button class="button_style">Upload</button>

    <button class="button_style">Delete</button>
</div>

</div>
