<p class="center">Login</p>




<p class="center">
    <input matInput class="style" placeholder="*Email" type="email" [formControl]="userFiel">
    </p>
  <p class="center">
    <input matInput class="style" placeholder="*Password" type="password" [formControl]="passwordFiel">
    </p>
    <div class="center">
        <button
        (click)="sendData()"
        (click)="checkPassword()"
        class="buttonSubmit"> Sing in</button>
    </div>

    <button (click)="quickstart()">send data</button>
    <button (click)="updateData()">update</button>
    <button (click)="readData()">read</button>
    <button (click)="filter()">filter</button>
    <button (click)="deleteData()">Delete</button>
    <button (click)="getId()">GetId</button>

