<div >
    <img class="image_style" src={{data.banner}}>

    <video controls width="100%" height="auto" #myVideo poster={{data.preholder}} preload="none">
        <source src={{data.video}} type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>

      <div class="center">       
        <button  class="center button margin">Reservation</button>
    </div>

    <p>{{data.text}}</p>

    <img class="image_style" src={{data.map}}>

    <img class="image_style" src={{data.plano}}>
</div>
