<div >

    <div>
      <carousel
        [cellWidth]="'100%'"
        [cellsToShow]="1"
        [arrows]="true"
        [autoplay]="false"
        [autoplayInterval]="1000"
        [transitionDuration]="500"
        [loop]="true"        
      >
        <div class="carousel-cell" *ngFor="let dataBanner of data.banner">
          <img  [src]="dataBanner">
        </div>
      </carousel>
    </div>

    <!-- <carousel     
     
     [cellWidth]="100"   
    [cellsToShow]="1"
    [arrows]="true"
     [autoplay]="false"
    [autoplayInterval]="1000"
    [transitionDuration]="500"
     [loop]="true">>
            <div class="carousel-cell">
                <img class="image_carousel" src="../../../../assets/images/bannerSample.jpg">
            </div>    
            <div class="carousel-cell">
                <img src="../../../../assets/images/bannerSample.jpg">
            </div>    
            <div class="carousel-cell">
                <img src="../../../../assets/images/bannerSample.jpg">
            </div>    
            <div class="carousel-cell">
                <img src="../../../../assets/images/bannerSample.jpg">
            </div>    
            <div class="carousel-cell">
                <img src="../../../../assets/images/bannerSample.jpg">
            </div>    
    </carousel> -->

<br>

    <video controls width="100%" height="auto" #myVideo poster={{data.preholder}} preload="none">
        <source src={{data.video}} type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>

      <div class="center">       
        <button  class="center button margin">Reservation</button>
    </div>

    <p>{{data.text}}</p>

    <img class="image_style" src={{data.map}}>

    <img class="image_style" src={{data.plano}}>

</div>
