<app-header></app-header>
<img src="../../../../assets/images/logo.webp" alt="Nature" class="responsive">
     <div *ngFor="let data of dataPackage">
        
        <app-package [data]="data"></app-package>
     </div>

     <div class="center">        
      <button (click)="extrasFuntion()" class="center buttonInfo margin">Extras</button>
  </div>

         <div *ngIf="extras">

            <div class="center">
               <img src="../../../../assets/images/flecha.png">   
           </div>
        <div *ngFor = "let data of dataExtras">
            
            <app-extras [data]="data"></app-extras>
        </div>
    </div>

    <app-footer></app-footer>

    <!-- <iframe width="100%" height="auto" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe> -->