.border_style{
    border: 3px  solid #3ffb00;      
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title_style{
    font-size: x-large;
    color: #fbfbfb ;
    text-align: center;
    margin: 20px;
}

.image_style{
    width: 100%;
    height: auto;
}