<div class="background">

    <br>
    
    <div class="row">
        
        <div class="right col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img class="icon" src="../../../assets/images/facebook.png" alt="">
        </div>
        <div class="center col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img class="icon" src="../../../assets/images/instagram.png" alt="">
        </div>
        <div class="left col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img class="icon" src="../../../assets/images/youtube.png" alt="">
        </div>
        
    </div>
    
    <br>
    <div class="row">
        
        <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1">
            
        </div>
        <div class="center col-xs-10 col-sm-10 col-md-10 col-lg-10">
            
            <a  href="https://www.google.com/maps/place/8585+N+Stemmons+Fwy,+Dallas,+TX+75247/@32.8294874,-96.8764908,17z/data=!4m5!3m4!1s0x864e9c59231ebab7:0xabe62292fa838804!8m2!3d32.8295956!4d-96.8748064!5m1!1e2" target="_blank">
                
                <img class="image" src="../../../assets/images/address.jpg">
            </a>
        </div>
        <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1">
            
    </div>
    
</div>

<br>




<div>
    
    <p class="center">8585 N. Stemmons freeway Dallas</p>
    <p class="center">Texas 75214 United States</p>
    <p class="center">214-431-6558</p>
    <br>
    <br>
</div>
<div class="center_login">

    <button routerLink= "/login" class="center_login button_login margi">Login</button>
</div>
<br>
<br>
</div>